[2019-06-14 20:02] crstamps2 opened #4 "Need to implement api to update data about a Wish"

[2019-06-14 20:52] jrgoodpasture opened #7 "[childInfoProgress]Show progress when asking for child info"
Proposal to add [FEATURE] to to the site.

**Feature Name**

**Functionality**
Should have a progress bar when asking questions. (X out of 5 complete)

**Notes**

[2019-06-14 21:24] jrgoodpasture opened #10 "[FEATURE NAME]Save images/videos"
Proposal to add [FEATURE] to to the site.

**Feature Name**

**Functionality**

**Notes**

[2019-06-14 21:48] jrgoodpasture opened #11 "Make type dynamic for review page[dynamicTypeLogo]"
Proposal to add [FEATURE] to to the site.

**Feature Name**
Wish type should show different pictures

**Functionality**

**Notes**

[2019-06-15 00:15] jrgoodpasture commented on #11
Picking up this story

[2019-06-15 12:34] connorjones13 opened #13 "Wish Curation List - data retrieval"
Need to pull data from API to populate the list

[2019-06-15 12:35] connorjones13 opened #14 "Wish Curation List - filtering"
Add filtering logic to filter by wish type

[2019-06-15 14:11] connorjones13 commented on #13
working on this

[2019-06-15 15:27] jrgoodpasture commented on #11
Finished with commit eeb1da5, closing issue

[2019-06-15 15:27] #11 closed

[2019-06-15 15:29] jrgoodpasture commented on #7
Picking up this issue

[2019-06-15 15:48] aswin1689 commented on #14
Is this client side filtering or server side?

[2019-06-15 16:22] #4 closed

[2019-06-15 17:23] jrgoodpasture commented on #7
Pull request open here: https://github.com/homedepot/hackathon-purple-parrots/pull/15

[2019-06-15 18:16] jrgoodpasture commented on #14
Id say ideally backend so we can minimize front-end logic

[2019-06-15 20:05] #7 closed

[2019-06-15 20:49] connorjones13 opened #17 "Error Handling - surround API calls with error handling"
All of the API calls need some sort of error handling so that we don't have unhandled promise rejection errors

[2019-06-16 17:13] connorjones13 commented on #13
https://github.com/homedepot/hackathon-purple-parrots/pull/21

[2019-06-16 17:30] crstamps2 opened #22 "[FEATURE] Need to know if user is an admin"

[2019-06-16 21:33] jrgoodpasture opened #29 "[wishTypeEnum] Need Wish types to be lower case to be handled by API"
**Summary:**
API is currently expecting lowercase type ["go","see","be","meet"] but the UI is sending the capitalized version. We either need to make the request lowercase on the frontend/backend. Or accept capitalized types instead of lowercase.

**Steps to Reproduce:**

**Notes:**

[2019-06-16 21:46] jrgoodpasture commented on #29
I will pick up this story

[2019-06-16 21:58] jrgoodpasture commented on #29
Fixed

[2019-06-16 21:58] #29 closed

[2019-06-16 23:14] jrgoodpasture opened #33 "[implementTypeSort] Make the UI responsive to sorting by type"
Proposal to add [implementTypeSort] to to the site.

**Feature Name**
implementTypeSort

**Functionality**
When you click a checkbox, the UI should update sorting by type

**Notes**

Use this endpoint: GET /wishes?types=see,be

[2019-06-16 23:33] jrgoodpasture commented on #33
Picking this one up

[2019-06-17 10:46] #33 closed

[2019-06-28 14:25] crstamps2 opened #45 "[FEATURE] Consider Using Graphql"
Proposal to add [FEATURE] to to the site.

**Feature Name**
Consider using Graphql

**Functionality**
Graphql is great for getting all data needed in a single payload. Combined with an authorization library, it would be easy to layout authorization role based access, without us having to do a lot of custom controller work.

**Notes**

https://graphql.org/graphql-js/running-an-express-graphql-serve

[2019-06-28 14:30] crstamps2 opened #46 "[META] Rename this repo to reflect it is _the_ Make-a-Wish GA repo"
`hackathon-purple-parrots`, while great for the hackathon, isn't so great branding wise for signifying this is where we will continue the work for this effort for Make-a-Wish.

[2019-07-12 14:58] WRMilling commented on #46
@crstamps2 Definitely looking into doing this today/soon. What ideas do we have for a proper name @homedepot/purple-parrots ?

Spitballing simpler ideas:
wish-wall
make-a-wish-wall
infinite-wish-board (Playing off the Infinite Wish Award which is a recognition given to local chapters from the national organization).

[2019-07-12 18:09] alex-hall commented on #46
The group likes infinite-wish-board

[2019-07-12 18:11] alex-hall commented on #45
I think we're open to this, as long as it's actually solving a concrete problem for the project.

[2019-07-12 18:12] alex-hall commented on #45
How much work would it take to convert existing endpoints?

[2019-07-12 18:28] alex-hall opened #49 "What sorts of technology to use for the start field?"
The starfield is intended to be a magic and whimsical dashboard that will be on display for the make-a-wish foundation. The intention is for kids to FEEL like their wish is being made when they submit the wish on the mobile device and watch it happen.

Technology being considered:
- [d3js](https://d3js.org/)
- [ProcessingJS](http://processingjs.org/)
- Raw SVG animation

The biggest ask that I hav

[2019-07-12 18:31] alex-hall commented on #22
Does #24 satisfy the ability to figure this out?

The repo already gives you back the user profile object I believe (unless this was changed).

[2019-07-12 18:31] fernandocortez commented on #49
For animations, I think SVG would be a good candidate. I was listening to a podcast with an SVG expert, posted below; she recommended GreenSock as the go to for SVG animations.

https://syntax.fm/show/154/svgs-with-sara-soueidan

https://greensock.com

[2019-07-12 18:33] alex-hall commented on #17
Can we use nodejs middleware to solve this problem?

Does #25 take care of this? Also, [api-error-handler](https://github.com/expressjs/api-error-handler) middleware is already installed. Have you seen anything make it out of this middleware?

[2019-07-12 18:34] crstamps2 commented on #22
It gives you back a user profile, but there wasn't any kind of type of user. In this case we were going for an admin style user. It is an assumption that we need one. I think we need to get a PM to volunteer some time to figure out what actually needs to go into this effort.

[2019-07-12 18:35] alex-hall commented on #10
@fzondlo , how did you solve the saving of large files in MongoDB?

[2019-07-12 18:36] alex-hall commented on #10
@WRMilling , how should we store these files? Probably not in MongoDB.

[2019-07-12 18:43] fernandocortez commented on #45
Don't know how much of the front end has already been created, but we could leverage GraphQL to feed data into a Gatsby project. The visual components are also React.

[2019-07-12 18:43] alex-hall opened #50 "What SHOULD infrastructure look like"
As we move away from the quick and dirty hackathon style, what do we think infrastructure looks like?

Some questions we should answer:
- Use Nginx for React, so we pay almost nothing to host the UI.
- Switch over to the standard GCE instance (only supports node 10) for API so we can scale down to zero instances.
- Look at other "free tier" providers like Netlify/Heroku.

Need to ask talk through

[2019-07-12 18:45] alex-hall opened #51 "Accessibility requirements?"
What accessibility requirements does this application need?

- ARIA compliant?
- Is touch screen okay? Need physical keyboard?

[2019-07-12 18:47] alex-hall opened #52 "Security"
Need to implement helmet:
- [Helmet](https://github.com/helmetjs/helmet)

Need to talk with security folks about pen testing.
Hardware security requirements for iot devices.
Autoboot script of limited user account?

[2019-07-12 18:55] alex-hall opened #54 "Wisher: Remove the condition question from the intake workflow"
Remove condition question in the intake workflow

Currently, it is:
Hi CHILD_NAME, I have a few questions for you before we can make your wish come true!
Where are you from?
Tell us about your condition
Tell us more about your wish!

[2019-07-18 11:55] fzondlo commented on #10
Yeah, I would recommend AWS/GCP file storage and just storing the URL in the database. For the hackathon I'm not sure we ever got the images to upload into the database. Let me know if you guys would like any help on this or other features.

[2019-07-19 11:57] crstamps2 commented on #22
I can also see a type being "parent" or "guardian". Something that signifies that the account in question is the legal guardian of the kid.

[2019-07-19 12:02] crstamps2 commented on #45
I am going to dump some links here as I come across them. Things that I think we could use that would help us with some of our goals. I will edit this comment as I go.

https://levelup.gitconnected.com/realtime-subscriptions-with-graphql-and-nodejs-fc27898e1c14
This allows a system to subscribe to database changes. I think this would be cool for our wish wall.

[2019-07-19 20:20] alex-hall opened #55 "Add better login UX"
Currently, there is no spinner or anything to tell you that an async call is processing during registration/login.

Additionally, if login fails, it doesn't tell you so or clear the form.

[2019-07-19 20:20] #46 closed

[2019-07-19 21:18] aswin1689 commented on #55
I can take it up.

[2019-08-13 14:43] alex-hall commented on #55
Closed by #56

[2019-08-13 14:43] #55 closed

[2019-08-13 14:46] alex-hall commented on #45
I've seen some work on this @crstamps2 , how is it coming? Need anything?

[2019-08-13 14:46] alex-hall commented on #22
I'm guessing you're tackling this in #45 ?

If not, can I add this to that branch?

[2019-09-30 13:52] crstamps2 commented on #54
@alex-hall can you edit the issue to provide more context of what this is?

[2019-09-30 13:55] crstamps2 commented on #22
#45 we can definitely leverage the context feature of graphql, and easily make the frontend experience change based on who you are logged in as. But no, I was not directly tackling that in #45

[2019-09-30 16:37] crstamps2 opened #63 "Docs: Design Vision Needed"
We need to post the design vision about how this whole thing is supposed look and feel and what the outcomes are. I am reaching out to design and PM colleagues I have, to help organize this project a little better.

[2019-09-30 19:30] aclaire-thd opened #66 "Add captcha"
Proposal to add [FEATURE] to to the site.

**Feature Name**
Add captcha: https://github.com/appleboy/react-recaptcha

**Functionality**

**Notes**

[2019-09-30 22:42] alex-hall commented on #54
I've made this code change, but the current application asks what the child's condition is. We should talk to the make a wish folks, but they mentioned not capturing that information in the app, but rather offline with the parents

[2019-10-01 19:19] johnverrone opened #70 "Travis CI fails on PRs from forks"
**Summary:**
The PR builds are failing on PR's coming from forked organizations. eg. https://travis-ci.org/homedepot/infinite-wish-board/jobs/592185038#L219

This is from [this line](https://github.com/homedepot/infinite-wish-board/blob/master/.travis.yml#L35) of the Travis config.

**Notes:**
It seems like this is related to managing the GCP service account keys.

[2019-10-01 22:54] crstamps2 commented on #70
I am not sure why this sometimes works on some PRs and not others. @WRMilling any ideas? Did the GAE keys change in your efforts?

[2019-10-01 23:43] WRMilling commented on #70
That's all travis setup, failing to decrypt the key based on a private variable. I propose we skip all the deployment automation for now (doesn't actually run on PRs anyway) and loop back around to deploys tomorrow. @crstamps2 I can work with you to get you the access you need / resolve this.

For now, PR #71

[2019-10-02 01:47] aclaire-thd opened #72 "Login: Failed login could use a friendlier error message"
Proposal to add friendly login message to to the site.

**Feature Name**
Failed login prompt

**Functionality**
When login fails, show have a human-friendly prompt

Attempt to login with invalid credentials
Current error message displayed is: Request failed with status code 401

**Notes:**
I'd recommend something like: Login failed. Please enter valid credentials. ?? (Not sure what product voice s

[2019-10-02 01:51] aclaire-thd opened #73 "Logout"
Proposal to add [FEATURE] to to the site.

**Feature Name**
Logout

**Functionality**
Currently, I am prompted for a login but I do not see a way to log out.

<img width="1449" alt="WishBoard-NeedLogout" src="https://user-images.githubusercontent.com/48930585/66012549-a8841800-e495-11e9-921d-3f463e55b99c.png">

**Notes**
I'm not sure where navigation belongs in the app

[2019-10-02 01:58] aclaire-thd opened #74 "Wisher: Age range"
Proposal to add age range to to the site.

**Feature Name**
Age range

**Functionality**
Create a range of eligible ages to simplify data entry
Default to the youngest age
Limit selections to the highest age (18 years old)

**Notes**
Make-A-Wish serves kids: "Children who have reached the age of 2½ and are under the age of 18" according to https://wish.org/content/faq

[2019-10-02 01:59] aclaire-thd commented on #74
Note: in the current Make-A-Wish Georgia site, I only see this: "determined to be eligible for a wish before their 18th birthday"

[2019-10-02 02:21] aclaire-thd commented on #73
Now that I'm looking at it, I think clicking on Galaxy to log out and go to the home screen (presumably the galaxy) would be great!

[2019-10-02 02:35] aclaire-thd commented on #73
Note: I see that Logout is possible from the /wish-summary page
Maybe we don't need logout from the kid's workflow?

[2019-10-02 02:37] aclaire-thd opened #76 "Wisher: Validation on name entry"
Proposal to add name validation to to the site.

**Feature Name**
Wisher name validation

**Functionality**
Currently accepts all strings
probably want something that's more like a name

**Notes**
I'd suggest something like at least 1 alphabetic character...
Probably there's a first and last name? Maybe a hyphenated last name? Maybe multiple last names?

[2019-10-02 02:41] aclaire-thd commented on #13
Looks like this is already resolved by [pull request 21](https://github.com/homedepot/infinite-wish-board/pull/21)

[2019-10-02 02:41] #13 closed

[2019-10-02 02:43] aclaire-thd commented on #17
Looks like PR 25 is still open... not sure whether it resolves this issue

[2019-10-02 02:47] jacklagare commented on #72
I would like to work on this.

[2019-10-02 02:50] aclaire-thd commented on #63
What would be a good place in the repo for this?
Maybe [the UI readme](https://github.com/homedepot/infinite-wish-board/tree/master/ui)?

[2019-10-02 02:53] aclaire-thd commented on #72
Hey Jack, we'd love to have you. Please follow the [contributing doc](https://github.com/homedepot/infinite-wish-board/blob/master/CONTRIBUTING.md) and reference this issue when making your pull request!

[2019-10-02 03:00] aclaire-thd opened #77 "Wish detail summary: parent/guardian confirmation or revision"
Proposal to add parent/guardian confirmation or revision to to the site.

**Feature Name**
parent/guardian confirmation or revision on the wish detail summary page

**Functionality**
Probably want to let the parent/guardian confirm/edit the answers that the kid provided to the questions (name, age, hometown)

**Notes**
Right now, whatever the kid puts in is the profile... Kids aren't necessarily t

[2019-10-02 03:08] aclaire-thd opened #79 "Wish Curation List: Search fails when there isn't an assigned sponsor"
**Summary:**
Search fails when wish doesn't have a sponsor

**Steps to Reproduce:**
Create a wish
Skip adding a sponsor
On the wish list page, search for a phrase
Error displays: TypeError: undefined is not an object (evaluating 'wish.sponsor.name.toLowerCase')

Resolution: Check for null before trying to treat the value as a string
src/wishList/index.js:44
let wishItem = wish.child.name.toLowerCa

[2019-10-02 03:16] aclaire-thd commented on #14
Looks like there's a display toggle in the frontend?

Defaults to none selected
<img width="1562" alt="WishBoard-WishList-FilterType-Default-NoneSelected" src="https://user-images.githubusercontent.com/48930585/66015639-5cd76b80-e4a1-11e9-8cc1-0b1c6f0e43f3.png">

Filter selected without any matches
<img width="1562" alt="WishBoard-WishList-FilterType-NoMatches" src="https://user-images.githubuserc

[2019-10-02 03:19] aclaire-thd commented on #10
Q: should the prompt say just image? or "media" (to include video)?

Looks like the prompt to add media is on the wish detail summary

<img width="1540" alt="WishBoard-WishDetailSummary" src="https://user-images.githubusercontent.com/48930585/66015753-d2dbd280-e4a1-11e9-82df-f858d195aa0a.png">

But should there be a working link on the wish curation list?

<img width="1562" alt="WishBoard-WishList

[2019-10-02 03:20] aclaire-thd commented on #45
Of course, we'd have to update the UI to take advantage of the new GraphQL capabilities...

[2019-10-02 03:23] aclaire-thd commented on #51
Although this is UK Make-A-Wish, here's [some guidance](https://www.make-a-wish.org.uk/accessibility-policy/) on what might be relevant

[2019-10-02 03:24] aclaire-thd commented on #51
Make-A-Wish does grant wishes related to physical disabilities (e.g. wheelchair ramp, accessible vehicle), so we'll want to consider that aspect of user interaction

[2019-10-02 03:27] aclaire-thd commented on #66
Probably makes sense to include this for a failed login? (not default login)

Q: would kids be logging in? (Captcha seems a bit complicated for them)
I think it would be for adult user login

[2019-10-02 03:37] aclaire-thd opened #80 "Wish Curation List: Add a way to get to new wish workflow"
Proposal to add new wish from the wish list to to the site.

**Feature Name**
Add wish from wishlist

**Functionality**
Some way to go from /wish-summary to /landing

**Notes**
I think that as an admin/support staff, I'd want to be able to return to the wish prompt from the wish list

[2019-10-02 03:40] aclaire-thd commented on #22
Q: What can an admin user access/do that another user type couldn't?
Maybe /wish-summary ?

If non-admin could see /wish-summary, then that user could be a parent/guardian. If so, then they should probably only see their wish listed... or maybe they can only get to the /wish-summary/THEIR_WISH and not the curation list?

[2019-10-02 03:43] aclaire-thd commented on #54
Note: The condition question doesn't require an answer (can just skip by clicking Next)

[2019-10-02 03:45] aclaire-thd opened #81 "Wish detail: Edit Hometown"
Proposal to add editing hometown to to the site.

**Feature Name**
Edit hometown

**Functionality**
Hometown is not required (can be skipped) in wisher intake workflow
After that, there's not a way to edit to put in a value

**Notes**

[2019-10-02 03:46] aclaire-thd commented on #81
Q: should Hometown be required? Or should hometown be editable after the initial data input?
Seems like edit would be the most flexible resolution

[2019-10-02 03:58] aclaire-thd opened #82 "Sponsor management"
Proposal to add Sponsor management to to the site.

**Feature Name**
Sponsor management

**Functionality**
Keep track of sponsors who fulfill wishes

**Notes**
Currently, I see Sponsor Details can be displayed on the wish detail summary
<img width="1540" alt="WishBoard-WishDetailSummary" src="https://user-images.githubusercontent.com/48930585/66017088-43d1b900-e4a7-11e9-875f-2cf0d8bec956.png">

[2019-10-02 04:06] aclaire-thd opened #83 "Mobile: Wisher: Add profile pic"
Proposal to add mobile profile pic to to the site.

**Feature Name**
Mobile profile pic

**Functionality**
Ideally the kids can take pics of themselves from the device they are entering their info and attach that to the Creation Form.

**Notes**
Depends on [Wish detail: Save images/videos](https://github.com/homedepot/infinite-wish-board/issues/10)
Alternative to mobile profile pic: parent/guardia

[2019-10-02 04:10] aclaire-thd opened #84 "Dashboard for support staff"
Proposal to add support staff dashboard to to the site.

**Feature Name**
Support staff dashboard

**Functionality**
Volunteer Opportunities - wishes to grant!
Celebrations - not sure what this was meant to be...
Top Donors - could be stats on sponsors?

**Notes**
Dashboard could display wishes to grant?

[2019-10-02 04:11] aclaire-thd commented on #84
Q: would volunteer and sponsor be different things? I haven't seen volunteer mentioned previously...

[2019-10-02 04:13] aclaire-thd opened #85 "Wish Curation List: Date for wishes"
Proposal to add wish date to to the site.

**Feature Name**
Wish date

**Functionality**
Displayed in wish curation list

**Notes**
Not sure whether the date displayed on the wish curation list should be when the wish was made, when it was granted, or even when the wish event will be happening

[2019-10-02 04:17] aclaire-thd opened #86 "Wish Curation List: order wishes by date"
Proposal to add order wishes by date to to the site.

**Feature Name**
order wishes by date

**Functionality**
order wishes chronologically in the wish curation list

**Notes**
I think it makes sense to have the ordering straight up chronological without a way to change sorting

[2019-10-02 04:18] aclaire-thd commented on #86
I don't think it really matters what the date means since that will be determined by [Wish Curation List: Date for wishes](https://github.com/homedepot/infinite-wish-board/issues/85)

[2019-10-02 04:21] aclaire-thd opened #87 "Wish Curation List: group wishes by year"
Proposal to add group wishes by year to to the site.

**Feature Name**
group wishes by year

**Functionality**
This is kind of a filter for the list
Default to all
Can select a year
Can select the whole list

TODO add design

**Notes**
I don't think it really matters what the date means since that will be determined by [Wish Curation List: Date for wishes](https://github.com/homedepot/infinite-wis

[2019-10-02 04:22] aclaire-thd commented on #85
Q: Would we want to hide wishes from the curation list when date is in the past?
(I think that would be a different feature)

[2019-10-02 04:24] aclaire-thd commented on #77
Could just allow editing of a field at a time? Already have an issue to edit hometown [Wish detail: Edit Hometown](https://github.com/homedepot/infinite-wish-board/issues/81)

[2019-10-02 04:26] aclaire-thd commented on #85
Without the date feature, we would probably want to remove the calendar icon.
In that case, we'd probably order wishes by some non-user-facing value like ID

[2019-10-02 04:33] aclaire-thd opened #88 "Wish Curation List: Delete wish"
Proposal to add delete wish to to the site.

**Feature Name**
delete wish

**Functionality**
On the wish curation list, for a logged in admin user, have a way to delete a wish

**Notes**
I would expect some kind of confirmation since I think it would be a rare event to delete a wish from the system.
Looks like this is where [admin would matter](https://github.com/homedepot/infinite-wish-board/issu

[2019-10-02 04:36] aclaire-thd opened #89 "Admin: Wish Curation List: Reporting"
Proposal to add wish curation report to to the site.

**Feature Name**
wish curation report

**Functionality**
Be able to export the wish curation list

Essential: get the whole list
Nice-to-have: filtered wish list, wish list search results

**Notes**
I'm not sure what would be low-hanging fruit for a report of the wish curation list

[2019-10-02 17:05] aclaire-thd opened #92 "Styling: Update colors"
Proposal to add update colors to to the site.

**Feature Name**
update colors

**Functionality**
Update the site colors to match the evolved design
"need to change some of the HEX# colours to match the new look and feel"

**Notes**
We will get input from design

[2019-10-02 17:11] aclaire-thd opened #93 "Wisher intake: Update wish types"
Proposal to add update wish types to to the site.

**Feature Name**
update wish types

**Functionality**
Current list: go, meet, be, see
New list: go, be, meet, have

**Notes**

[2019-10-02 17:32] aclaire-thd opened #95 "Wish Curation List: Change calendar icon to indicate today's the day"
Proposal to add Change calendar icon to indicate today's the day to to the site.

**Feature Name**
Change calendar icon to indicate today's the day

**Functionality**
Date default displays with a blue border
When today's the day, show attention-grabbing border

**Notes**

[2019-10-02 17:35] aclaire-thd opened #96 "Wish Curation List: indicate missing data"
Proposal to add indicate missing data to to the site.

**Feature Name**
indicate missing data

**Functionality**
indicate missing data like Sponsor, etc.
exclamation on calendar icon (see designs)

**Notes**

[2019-10-02 17:39] aclaire-thd commented on #63
As of [PR 64](https://github.com/homedepot/infinite-wish-board/pull/64), we have a [docs folder](https://github.com/homedepot/infinite-wish-board/tree/master/documentation)

[2019-10-02 17:39] #63 closed

[2019-10-02 17:42] aclaire-thd opened #97 "Styling: update graphics"
Proposal to add update graphics to to the site.

**Feature Name**
update graphics

**Functionality**
Update the site graphics to match the evolved design
[Colors update](https://github.com/homedepot/infinite-wish-board/issues/92) is a separate item

**Notes**
We will get input from design

[2019-10-02 17:43] aclaire-thd commented on #97
Put updated graphics in [docs folder](https://github.com/homedepot/infinite-wish-board/tree/master/documentation)

[2019-10-02 17:57] crstamps2 opened #98 "Design: New landing page updates"
After talks with M-a-W and the renovation team, we have some updated designs that match decals and stuff in the physical space. We need to update to match the below image.

Old page:

<img width="854" alt="Screen Shot 2019-10-02 at 1 46 18 PM" src="https://user-images.githubusercontent.com/1142313/66068954-7ec20400-e51c-11e9-8ac5-80e4f4c42cb6.png">

New Page:

<img width="850" alt="Screen Shot 201

[2019-10-02 18:04] crstamps2 opened #99 "Design: Mobile Responsiveness"
Proposal to add Mobile Responsiveness to the site.

**Feature Name**
Mobile Responsiveness

**Functionality**
The primary way we believe the kids are going to interact with this site is via a tablet (not sure on screen sizes). This site needs to look good and perform well via a mobile experience. It might also need to support swiping in places.

[2019-10-02 18:19] hellonoosh commented on #98
Revision | Asset
-- | --
1 | Change all Blue Text to Black | Hex# 000000
2 | Change blue outline to Black | Hex# 000000
3 | Change Magenta Text to Dark Orange Text | HEX# EE402E
4.1 | Switch to new GO GFX | icon_GO_100x100.svg
4.2 | Switch to new MEET GFX | icon_MEET_100x100.svg
4.3 | Switch to new BE GFX | icon_BE_100x100.svg
4.4 | Switch to new HAVE GFX | icon_HAVE_100x100.svg
5.1 | Remove Excla

[2019-10-02 18:45] hellonoosh commented on #98
Also, most all blue text on the intake form needs to be changed to black, please. I can pair, as needed. Just LMK.

[2019-10-02 18:46] aclaire-thd commented on #98
Either we can keep these together as a design update or
use existing separate issues for
[color scheme update](https://github.com/homedepot/infinite-wish-board/issues/92)
[graphics/assets update](https://github.com/homedepot/infinite-wish-board/issues/97)

[2019-10-02 18:46] hellonoosh commented on #92
See https://github.com/homedepot/infinite-wish-board/issues/98

[2019-10-02 18:48] aclaire-thd opened #101 "Contributing doc: update with more workflow details"
Proposal to add workflow details to contributing doc to to the site.

**Feature Name**
workflow details to contributing doc

**Functionality**
workflow: how we like to merge code (e.g. rebase vs pull into existing branch)

**Notes**
Let's use https://help.github.com/en/articles/syncing-a-fork

[2019-10-02 19:12] crstamps2 commented on #98
Seems like we are aligning more on this one, so I will close the others.

[2019-10-02 19:13] crstamps2 commented on #92
Moved to #98

[2019-10-02 19:13] #92 closed

[2019-10-02 19:13] crstamps2 commented on #97
moved to #98

[2019-10-02 19:13] #97 closed

[2019-10-02 19:18] crstamps2 commented on #98
Here are the new assets needed:

[new_assets.zip](https://github.com/homedepot/infinite-wish-board/files/3682960/new_assets.zip)

[2019-10-02 19:34] crstamps2 commented on #54
@alex-hall had some conversations with @hellonoosh about this. We are thinking about making it either "what hurts?" or just skip it all together, and let the parents/guardians add this information later.

[2019-10-02 19:35] crstamps2 commented on #83
Short term plan is to store this in the mongodb for now, until we can come up with a better place to store it.

[2019-10-02 19:36] crstamps2 commented on #77
This whole page needs a bit of a design overhaul. Welcome to anyone that wants to propose a design update for this using the assets we already have in #98

[2019-10-02 19:39] lkobetz commented on #93
I can work on this

[2019-10-02 20:36] hellonoosh opened #104 "Animated Gif"
Proposal to add Animated Gifs to to the site.

**Feature Name**
Play Animated .gif

**Functionality**
Once a Child enters their wish (completes the intake form and hits the submit/ go button) on the Tablet, a corresponding, animated .gif will play full screen on the big screen TV that will be mounted on the wall behind the tablet (that should be mounted on some type of pedestal).

Assumption: Play

[2019-10-02 21:34] daltlc commented on #99
I can begin looking at this now.

[2019-10-03 13:30] crstamps2 commented on #104
Alright, this one is one of our more involved ones. Adding the animation on the tablet after the kids make a wish is no problem, but having a separate TV that plays an animation at the same the wish is cast is a bit harder, both from a hardware and software standpoint.

I don't know if the TV in the physical space will have a computer of some kind hooked up to it, but I have a theory about what we

[2019-10-03 13:57] #93 closed

[2019-10-03 18:16] jmfulgham commented on #98
Working on this now

[2019-10-03 22:21] aclaire-thd commented on #101
Resolved by https://github.com/homedepot/infinite-wish-board/pull/102

[2019-10-03 22:21] #101 closed

[2019-10-03 23:46] hellonoosh commented on #95
@aclaire-thd There are a few other simple design changed need here ( convert text blue to black, logos and need to create a black calendar icon). Shall I create a new issue or add it here? LMK!

[2019-10-04 02:16] aclaire-thd commented on #95
@hellonoosh if the design changes are related to today being the day, then I think they belong in this issue - thanks!

[2019-10-04 12:17] crstamps2 commented on #98
Updated logos:

[logos.zip](https://github.com/homedepot/infinite-wish-board/files/3690458/logos.zip)

[2019-10-04 15:00] crstamps2 commented on #88
This issue depends on #22

[2019-10-04 19:27] jmiller-thd commented on #95
I have grabbed this one

[2019-10-04 22:56] hellonoosh commented on #98
MAW has revisions. See comps.
![MAW_Interface](https://user-images.githubusercontent.com/56089760/66244894-9e059080-e6d8-11e9-8c07-28b4748679a9.jpg)
![MAW_InterfaceButton](https://user-images.githubusercontent.com/56089760/66244895-9e059080-e6d8-11e9-9173-f6a71f509ff5.jpg)

[2019-10-04 22:57] hellonoosh commented on #98
Here are the fonts they want want used.
[Document fonts.zip](https://github.com/homedepot/infinite-wish-board/files/3692566/Document.fonts.zip)

[2019-10-04 23:01] hellonoosh commented on #98
Here is the new MAW Georgia Logo
![MAW_Georgia_RGB](https://user-images.githubusercontent.com/56089760/66245055-69460900-e6d9-11e9-9e72-e377b3f5275b.png)

[2019-10-04 23:06] hellonoosh commented on #98
Here's is the background "starry space" pattern (optimized assuming this will also display of 4k HD TV. Let me know if its too big, loading too long, and needs sizing down for display on iPad.
[MAW_StarrySpace_Background.svg.zip](https://github.com/homedepot/infinite-wish-board/files/3692577/MAW_StarrySpace_Background.svg.zip)

[2019-10-04 23:07] hellonoosh commented on #89
I would say .csv

[2019-10-05 01:45] hellonoosh commented on #77
I'll get a comp posted up soon.

[2019-10-05 06:44] tush38 commented on #72
I would like to grab this.

[2019-10-05 13:07] tush38 commented on #72
![Capture](https://user-images.githubusercontent.com/52834521/66255245-23ec0f00-e79f-11e9-9079-58087e3f05b4.JPG)
I am getting this error on running the application.. Please help

[2019-10-07 05:31] aashaypalliwar commented on #54
Can I work on this ?

[2019-10-07 12:54] aclaire-thd commented on #54
Please do! Our contributing guidelines are here: https://github.com/homedepot/infinite-wish-board/blob/master/CONTRIBUTING.md

[2019-10-07 13:05] aclaire-thd commented on #87
Could a chronological sort work here @hellonoosh?

[2019-10-07 13:08] aclaire-thd commented on #85
@hellonoosh could you help to clarify this feature - what does the date mean on the wish list?

[2019-10-07 13:08] aclaire-thd commented on #84
@hellonoosh do you have more info on this feature?

[2019-10-07 13:10] aclaire-thd commented on #82
There are several parts to this: add, update, delete, assign, view + view list (used for assignment)

[2019-10-07 13:11] aclaire-thd commented on #82
@hellonoosh can you think of a scenario where we want to delete a sponsor?

[2019-10-07 20:20] jmfulgham commented on #98
@hellonoosh Is there an updated Chevron.png that's black and not blue?

[2019-10-07 21:41] aswin1689 commented on #82
Ay idea if there are any mockups for these and are the API end points ready?

[2019-10-07 22:25] aswin1689 opened #114 "Design: Improve UX for information intake workflow"
Current design to collect Child's information doesn't match with the new designs (background, fonts, UX) and the **Next** button's clickable area is too small.

**Feature Name**
![image](https://user-images.githubusercontent.com/8471909/66353102-40b74c80-e92f-11e9-9c8c-9bae5123685e.png)

**Notes**
Any thoughts on if we should handle this in MVP?

[2019-10-07 22:50] aswin1689 opened #115 "Landing page redirects to Information collection page after typing first character in name/age field"
**Summary:**
Landing page redirects to Information collection page after typing first character in name/age field

**Steps to Reproduce:**
1. Login to the app.
2. Click on any wish type card.
3. Enter a valid age
4. Enter a name. After you type the first character, you are redirected.

_second scenario_
1. Login to the app.
2. Click on any wish type card.
3. Enter a name
4. Enter 12 for age field.

[2019-10-08 01:17] liding987 commented on #79
I start to work on it

[2019-10-08 01:27] liding987 commented on #79
working on this issue

[2019-10-08 03:48] liding987 commented on #98
Is there anyone working on this issue? Otherwise, I can update the landing page.

[2019-10-08 03:58] liding987 commented on #66
Can I work on this issue?

[2019-10-08 04:37] aashaypalliwar commented on #66
I would like to contribute!

[2019-10-08 11:22] hellonoosh commented on #82
@aclaire-thd not delete but definitely edit/ switch to another sponsor

[2019-10-08 11:25] hellonoosh commented on #84
This was the comp I did that listed out all the Kids and wishes. No insight into what 3 item listed under Functionality. Will add to list of Qs to ask. thx!

[2019-10-08 11:26] hellonoosh commented on #114
@aswin1689 Def MVP. Can you make the styling like the Landing Page? #98

[2019-10-08 12:58] aclaire-thd commented on #82
Creating the API is part of this story...
This is too much for one issue so I'm going to split it.

[2019-10-08 13:03] aclaire-thd opened #118 "Sponsor: add"
Proposal to add the ability to add a sponsor to to the site.

**Feature Name**
Add sponsor

Should be able to add a sponsor from the wish curation list (add sponsor link)
<img width="1563" alt="WishBoard-WishList" src="https://user-images.githubusercontent.com/48930585/66017120-649a0e80-e4a7-11e9-9d32-482d14ed5249.png">

There are several parts to sponsor management. This issue will just cover add

[2019-10-08 13:13] aclaire-thd opened #119 "Sponsor: assign"
Proposal to add assign sponsor to to the site.

**Feature Name**
Assign sponsor

**Functionality**
Assign sponsor to fulfill wish

Should be able to assign a sponsor from the wish curation list (add sponsor link)
<img width="1563" alt="WishBoard-WishList" src="https://user-images.githubusercontent.com/48930585/66017120-649a0e80-e4a7-11e9-9d32-482d14ed5249.png">

**Notes**
This issue only covers as

[2019-10-08 13:16] aclaire-thd commented on #118
@hellonoosh I think we need a design for the frontend where we'll add new sponsors (distinct from assigning).

What do you think of seeing a list of sponsors that you can pick from or add to?

[2019-10-08 13:35] aclaire-thd opened #120 "Sponsor: update"
Proposal to add updating sponsor management to to the site.

**Feature Name**
Sponsor update

**Functionality**
update sponsor data to accurately fulfill wishes

This issue is just update.

**Notes**
Currently, I see Sponsor Details can be displayed on the wish detail summary
<img width="1540" alt="WishBoard-WishDetailSummary" src="https://user-images.githubusercontent.com/48930585/66017088-43d1b9

[2019-10-08 13:40] aclaire-thd opened #121 "Sponsor: view"
Proposal to add [FEATURE] to to the site.

**Feature Name**

**Functionality**

**Notes**

[2019-10-08 20:24] liding987 commented on #104
I will work on this issue

[2019-10-09 21:03] aswin1689 commented on #114
Sure, I am working on it.

[2019-10-10 15:03] WRMilling opened #123 "Hitting `enter` on the wish details flow causes redirect to landing"
**Summary:**

When you hit enter while filling in your wish details it redirects you to the landing page.

**Expected Behavior**

Hitting enter should advance the user through the stepped workflow.

**Actual Behavior**

User is redirected to the landing screen.

**Steps to Reproduce:**

1. Login
2. Enter name/age and select your wish type
3. Get to a step with a text field
4. Fill in text field an

[2019-10-11 07:33] ForiDunk commented on #123
Hi, I took a stab at this one

[2019-10-11 15:01] WRMilling commented on #123
@ForiDunk Thanks for jumping on this, my apologies on the sparse bug report. I will detail a few more things on #124.

[2019-10-11 16:30] #74 closed

[2019-10-11 16:35] WRMilling commented on #98
@liding987 I believe @jmfulgham has a PR #107 running on this thread.

Looks like we have a bit of a moving target. I am reviewing #107 now and this is what it currently looks like:

<img width="878" alt="MAW Landing" src="https://user-images.githubusercontent.com/6162814/66668405-31801980-ec23-11e9-9d51-1eb4bde4bfc2.png">

@hellonoosh Do you have an update logo for the `The SKY is the limit` logo

[2019-10-11 16:37] WRMilling commented on #98
@crstamps2 @hellonoosh So that we can keep the PR train moving, do we want to settle on the comps from Noosh 7 days ago (Starry background revision) and open a new feature request for future revisions?

[2019-10-11 16:39] crstamps2 commented on #98
@WRMilling That works for me. We are showing this to some people come Monday, so if we want to go ahead and merge in what exists and open separate issues.

[2019-10-11 16:40] crstamps2 commented on #98
I can tackle changing the background.

[2019-10-11 16:59] WRMilling commented on #114
Closing now that #122 is merged.

[2019-10-11 16:59] #114 closed

[2019-10-11 17:02] WRMilling commented on #54
Resolved via #117.

[2019-10-11 17:02] #54 closed

[2019-10-11 17:07] WRMilling commented on #79
Closing based on #117 being merged.

[2019-10-11 17:07] #79 closed

[2019-10-11 17:10] WRMilling commented on #50
For now I have scaled us to standard Google App Engine instances via #91 so that we can scale to zero. We still need to figure out the long term hosting for this.

@crstamps2 Do you have any more details on the hardware available to us?

[2019-10-11 18:16] jrgoodpasture commented on #86
I will pick up this story

[2019-10-11 18:34] jrgoodpasture commented on #86
Currently date is sorted in chronological order, I will order in reverse chronological order so that the most recent wish is at the top

[2019-10-11 19:20] WRMilling commented on #76
@aswin1689 @ashwati-sandeep Just saw a PR come in from @amlidos (#126) for this issue as well. Just want to make sure we don't accidentally duplicate effort.

I am proposing a change to the `CONTRIBUTING.md` doc to endorse claiming as y'all just did to try and prevent duplicative effort, let me know what y'all think: #127.

[2019-10-11 19:24] ashwati-sandeep commented on #76
Sounds good!

[2019-10-11 20:31] WRMilling commented on #98
@crstamps2 Sounds good. I will merge the current PR and open a new design update feature request with @hellonoosh's latest

[2019-10-12 07:24] hellonoosh commented on #104
1st animated .gif received. Waiting on MAW approval and will post ASAP. the other will come as soon as we get approval.

[2019-10-12 07:25] kidCaulfield commented on #76
Opened PR for name validation on the API level. Thought it would be helpful to have backend validation.

[2019-10-14 17:26] vivekprabuTHD commented on #123
is this one done? i fixed it but, unable to push the branch i created

[2019-10-15 09:10] ForiDunk commented on #123
@vivekprabuTHD I already fixed it, just needs review.

[2019-10-15 13:50] ForiDunk commented on #51
If you don't mind my input, here is a result of an Accessibility audit
[Make-A-Wish.pdf](https://github.com/homedepot/infinite-wish-board/files/3729598/Make-A-Wish.pdf)

[2019-10-15 20:45] amlidos commented on #76
I think it would be a good idea, although I'm new to open source development so I'm not sure how to put a claim on an issue. I'm also could refactor my code to use the backend name validation if that would help.

So far my PR has a check built in to not show any errors when the fields haven't been touched, along with regex name validation.

[2019-10-16 15:41] WRMilling commented on #123
#124 addressed the initial ticket, closing. Thank you for your contribution @ForiDunk

[2019-10-16 15:41] #123 closed

[2019-10-16 17:22] WRMilling commented on #115
Fixed with #116, closing ticket.

[2019-10-16 17:22] #115 closed

[2019-10-17 19:19] WRMilling commented on #98
Hey @hellonoosh, do you have `The SKY is the limit` image for the top right corner? I believe that is all #130 is waiting on.

[2019-10-19 01:59] stevenwally commented on #72
Hi there! What's the status of this issue? I would be happy to pick it up if it has become stale :)

[2019-10-19 20:19] mattk410 opened #135 "Name is hard-coded next to sign out button"
**Summary:**

The name next to the Sign Out link is hard-coded to "Mary"

**Expected Behavior**

This should be the current user's username

**Actual Behavior**

Name is "Mary"

**Steps to Reproduce:**

View WishDetails page

[2019-10-19 20:22] mattk410 commented on #135
I'll work on this.

[2019-10-20 21:45] mattk410 commented on #96
I'll work on this. The designs link is invalid. @aclaire-thd, do you have a new link to the designs?

[2019-10-21 15:32] aclaire-thd commented on #96
When data is not complete, there would be a red exclamation point to show the row needs updates
![WishList-MissingDataIndicator](https://user-images.githubusercontent.com/48930585/67219735-84fa2080-f3f6-11e9-8768-625f9e255913.png)

[2019-10-21 15:37] #98 closed

[2019-10-21 15:40] aclaire-thd commented on #72
Hey @tush38 how's this going? Were you able to resolve the Docker error message?

[2019-10-21 15:53] aclaire-thd commented on #51
Thanks for the info @ForiDunk ! I'm interested in the accessibility tooling you used for the audit & would love to have a PR for the fixes 👍

[2019-10-21 16:52] tush38 commented on #72
Nope, still getting it. It also messed with my MongoDB setup!

[2019-10-21 21:39] aclaire-thd commented on #66
Thanks for your interest in contributing to Infinite Wish Board!
Please follow our [contributing process](https://github.com/homedepot/infinite-wish-board/blob/master/CONTRIBUTING.md#contribution-workflow)

[2019-10-25 17:44] Burnsedia commented on #52
I start working on this, I do Cyber Security pen testing on the side, along with my web/mobile app development.

[2019-10-25 17:58] Burnsedia commented on #52
:octocat:

[2019-10-26 23:54] Burnsedia commented on #52
what are the rules of engagement, for the security program, there is only so much I can do on my local machine, what kinds of attacks can I do for testing?

[2019-10-27 03:52] mattk410 commented on #96
A thought I had while working on this is that the date is just the day of the month, but the month isn't indicated anywhere. I can add the month name to the date- either in the border as the day names are in the original design or just in black text above the number. My initial thought would be for the latter, as the strobing effect on the border for items with today's date might clash with text u

[2019-10-28 01:27] aclaire-thd commented on #72
In the master branch, a failed login now shows this message:
Incorrect username/password. Please try again.

Looks like we're covered here. Thanks for the help! :)

[2019-10-28 01:27] #72 closed

[2019-10-29 23:37] amlidos commented on #73
I'll work on this. I'll add a sign-out link into the header since the Galaxy image has changed to another one.

[2019-10-30 08:12] ForiDunk commented on #51
@aclaire-thd if you open the project in Chrome Browser, you can open the Developer Tools and there you should have an 'Audit' tab. There you should see Google's lighthouse audit tool. It can check multiple stuff like SEO, Performance, Accessibility and so on...
More info you can find here: https://developers.google.com/web/tools/lighthouse/

[2019-11-26 03:02] liding987 commented on #120
I will create an API for creating/updating sponsor

[2019-12-24 01:43] navin1551 commented on #99
Hi, is this still open? I'm a first time contributor and would like to give this a shot if its still available

[2020-01-30 16:04] fzondlo opened #150 "Seed Task"
Proposal to add [FEATURE] to to the site.

**Feature Name**
Need a task / script to seed data.

**Functionality**
Should exist in /api/package.json. Task should be called something like `seed`

**Notes**

[2020-05-12 12:16] elliotwood1 commented on #135
@mattk410 is this done or would you mind me taking a look at it?

[2020-06-16 23:36] #81 closed

[2020-06-29 20:37] ghost commented on #99
Hi is still open ? Is my first contribution and I think can be a good start.
Regards

[2020-07-10 17:16] MeghaLS commented on #89
Hello @aclaire-thd , @hellonoosh Is this being actively worked on by anyone? If not, I would like to pick it up!

[2020-07-11 20:14] MeghaLS commented on #89
I have included a draft PR, do let me know if this issue still needs to be worked on, I can finetune the PR if needed!

[2020-08-16 18:30] mattrhysgregory commented on #99
Also interested if anyone wants me to give it a go?

[2020-10-02 18:59] girish332 commented on #135
If the issue is not closed can I work on it?

[2020-10-05 19:14] DemonFangs commented on #66
@aclaire-thd Is this Issue still open?

[2020-10-05 19:21] DemonFangs commented on #51
@aclaire-thd Let me know if this tickets is still open?

[2020-10-06 01:07] preethi900 commented on #135
If this is not closed can i work with it???

[2020-10-25 12:50] blueocto commented on #51
Considering how many PR's are still open from a year ago, I would assume it is! :-)

[2021-01-04 03:12] radekxrandom opened #166 "Refactoring code."
Hi, I think there are some improvements I could make to the codebase.

1. Move application logic from routes to controllers.
2. Change callbacks based asynchronous code to async/await or promises.
3. Clean up code. Use pure functions. Optimize things.

Are you interested in my help?

[2022-01-05 17:41] emmanuelmota commented on #95
Is this issue closed ? Thanks.

[2022-01-25 19:53] danvg commented on #99
Is this issue still open? A colleague and I would like to give it a go as part of a university project.

[2022-10-03 13:19] LitoleNINJA commented on #95
Hi @aclaire-thd, is the issue open ? I'd like to work on it.